#sixtyfiver-logo {
  opacity: 1;
  margin: 0 auto 50px auto;
  width: 60px;
}

.login-form {
  width: auto;
  margin-left: 16px;
  margin-right: 16px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-button {
  width: 100%;
}

form {
  margin-left: 16px;
  margin-right: 16px;
}

#sixtyfiver-logo {
  opacity: 0;
  margin: 0 auto 50px auto;
  width: 100px;
}

div {
  width:60vh;
  max-width: 400px;
  height: 100%;
  margin: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
