<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Full Name</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ patient.fullName }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Birthday</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ patient.birthday | date: "dd/MM/yyyy" }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Citizen Id</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ patient.citizenId }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Address</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ patient.address }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Phone Number</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ patient.phoneNumber }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
</form>
