<!-- Warehouse Finder -->
<nz-table #rowSelectionTable [nzShowPagination]="true" [nzShowSizeChanger]="true" [nzData]="fetchedFiles"
(nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
<thead>
  <tr>
    <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
    <th>Name</th>
    <th nzMinWidth="150px">Date</th>
    <th>Size</th>
    <th>Type</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let fileInfo of rowSelectionTable.data">
    <td [nzChecked]="setOfCheckedId.has(fileInfo.fileid)"
      (nzCheckedChange)="onItemChecked(fileInfo.fileid, $event)">
    </td>
    <td>{{fileInfo.name}}</td>
    <td>{{fileInfo.date | date}}</td>
    <td>{{fileInfo.size | beautifySize }}</td>
    <td>{{fileInfo.type}}</td>
  </tr>
</tbody>
</nz-table>
