<form nz-form *ngIf="medicalUnit">
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Certificate Hash</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ certificate.hash }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Issued By</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ medicalUnit.medName }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7">Citizen Id</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ certificate.citizenId }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Address</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ certificate.address }}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Phone Number</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-form-text>{{ certificate.phoneNumber }}</nz-form-text>
    </nz-form-control>
  </nz-form-item> -->
</form>
