<ng-container *ngIf="!medicalUnit">
  <nz-alert [nzSpan]="7" nzType="warning" nzMessage="You haven't register medical unit."></nz-alert>
  <span nz-typography>
    <a href="pethernet/medicalunit/register">
      Register here
      <Link />
    </a>
  </span>
</ng-container>

<ng-container *ngIf="medicalUnit">
  <form nz-form layout="horizontal">
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Account</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-form-text>{{medicalUnit.medName}}</nz-form-text>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Account</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-form-text>{{medicalUnit.medCode}}</nz-form-text>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Account</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-alert nzType="info" [nzMessage]="medicalUnit.accountAddress"></nz-alert>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Address</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-form-text>{{medicalUnit.physicalAddress}}</nz-form-text>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Registered on</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-form-text>{{medicalUnit.registeredOn | date: 'dd/MM/yyyy'}}</nz-form-text>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Hash</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-form-text><code>{{medicalUnit.hash}}</code></nz-form-text>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Verified Status</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-form-text>{{medicalUnit.verifiedOn ? 'Verified' : 'Unverified'}}</nz-form-text>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="medicalUnit.verifiedOn !== null">
      <nz-form-label [nzSpan]="7">Verified On</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-form-text>{{medicalUnit.verifiedOn | date: 'dd/MM/yyyy' }}</nz-form-text>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-container>
