<sf-warehouse-finder-toolbar
  [fetchedFiles]="fetchedFiles"
  [setOfCheckedId]="setOfCheckedId"
  (refetchFilesNeeded)="refetchFiles()"
  >
</sf-warehouse-finder-toolbar>
<div #warehouseContainer class="warehouse-container">
  <sf-warehouse-finder
    sfFinder
    [fetchedFiles]="fetchedFiles"
    [checked]="checked"
    [indeterminate]="indeterminate"
    [setOfCheckedId]="setOfCheckedId"
    (draggedOverFinder)="showUploader = true"
    (itemCheckedChanges)="onItemChecked($event)"
    (allItemCheckedChanges)="onAllChecked($event)"
    (listOfCurrentPageDataChanges)="onListOfCurrentPageDataChanges($event)"
  >
  </sf-warehouse-finder>
  <sf-warehouse-uploader
    sfUploader
    [finderOffset]="finderOffset"
    [hidden]="!showUploader"
    (draggedLeaveUploader)="showUploader = false"
  >
  </sf-warehouse-uploader>
</div>
