<nz-alert [nzSpan]="7" *ngIf="warnNoConnectedAccount" nzType="warning" nzMessage="You don't have any connected Metamask accounts."></nz-alert>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Medical Unit Hash</nz-form-label>
    <nz-form-control [nzSpan]="9">
      <nz-form-text>{{medicalUnitHash}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Injector Citizen Id</nz-form-label>
    <nz-form-control [nzSpan]="9" nzErrorTip="Please input injector's citizen identity!">
      <nz-input-group>
        <input formControlName="injectorCitizenId" nz-input placeholder="B23445657" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Doctor Hash</nz-form-label>
    <nz-form-control [nzSpan]="9">
      <nz-form-text>{{doctorHash}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Vaccine Dose</nz-form-label>
    <nz-form-control [nzSpan]="9">
      <nz-select formControlName="vaccineDoseHash" nzShowSearch nzAllowClear nzPlaceHolder="Select vaccine dose">
        <nz-option *ngFor="let vaccineDose of availableVaccineDoses" [nzLabel]="vaccineDose.doseId"
          [nzValue]="vaccineDose.hash">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzLoading]="isSubmitting">Submit</button>
      <!-- <button nz-button (click)="resetForm($event)">Reset</button> -->
    </nz-form-control>
  </nz-form-item>
</form>
