<ng-container *ngIf="!medicalUnit">
  <nz-alert [nzSpan]="7" nzType="warning" nzMessage="You haven't register medical unit."></nz-alert>
  <span nz-typography>
    <a routerLinkActive="active" routerLink="/pethernet/medicalunit/register">
      Register here
      <Link />
    </a>
  </span>
</ng-container>

<ng-container *ngIf="medicalUnit">
  <ng-container *ngIf="medicalUnit.verifiedOn === null">
    <nz-alert [nzSpan]="7" nzType="warning" nzMessage="Your medical unit is not verified."></nz-alert>
  </ng-container>

  <ng-container *ngIf="medicalUnit.verifiedOn !== null && !issuedSuccessfuly">
    <nz-alert [nzSpan]="7" *ngIf="warnNoConnectedAccount" nzType="warning"
      nzMessage="You don't have any connected Metamask accounts."></nz-alert>

    <nz-alert [nzSpan]="7" *ngIf="!warnNoConnectedAccount && connectedMetamaskAccount.toLowerCase() !== medicalUnit.accountAddress.toLowerCase()" nzType="warning"
      nzMessage="Your connected Metamask account isn't matched with the registered one: {{medicalUnit.accountAddress}}"></nz-alert>

    <form *ngIf="!warnNoConnectedAccount && connectedMetamaskAccount.toLowerCase() === medicalUnit.accountAddress.toLowerCase()" nz-form [formGroup]="validateForm"
      (ngSubmit)="submitForm(validateForm.value)">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Medical Unit</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <nz-form-text>{{medicalUnit.medName}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Medical Unit Hash</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <nz-form-text>{{medicalUnitHash}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Patient Citizen Id</nz-form-label>
        <nz-form-control [nzSpan]="9" nzHasFeedback nzValidatingTip="Checking..." [nzErrorTip]="userErrorTpl">
          <input nz-input formControlName="injectorCitizenId" placeholder="B12334213" />
          <ng-template #userErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input patient's citizen identity!</ng-container>
            <ng-container *ngIf="control.hasError('unexisted')">The citizen identity is not existed on the system!
            </ng-container>
            <ng-container *ngIf="control.hasError('notchecked')">The citizen identity is not checked.</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Vaccine Dose</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <nz-select formControlName="vaccineDoseHash" nzShowSearch nzAllowClear nzPlaceHolder="Select vaccine dose">
            <nz-option *ngFor="let vaccineDose of availableVaccineDoses" [nzLabel]="vaccineDose.doseId"
              [nzValue]="vaccineDose.hash">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzOffset]="7">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzLoading]="isSubmitting">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <ng-container *ngIf="issuedSuccessfuly">
    <nz-result nzStatus="success" nzTitle="Successfully issued certificate!"></nz-result>
  </ng-container>
</ng-container>
