@font-face {
  font-family: "Teko";
  src: local("Teko"), url(../../../../assets/fonts/Teko/Teko-Regular.ttf) format("truetype");
}

#logo-img {
  height: 45px;
}

.logo-text {
  font-size: 1.7em;
  background: linear-gradient(to bottom, #993699 10%, #6293f0 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logo {
  margin: 4px;
  font-family: 'Teko';
  color: #ffffff;
  text-align: center;
}

.logo:hover  #logo-img, .logo.hover #logo-img {
    transform: scale(1.2);
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
  min-height: 92vh;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
