<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px" nzHeight="100%" [nzCollapsed]="false">
    <div class="logo">
      <a class="logo-text" href="/">
        <img id="logo-img" src="https://img.icons8.com/nolan/64/mangosteen.png" />
        Sixtyfiver
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Pethernet"
        [(nzOpen)]="rla.isActive || rla4.isActive || medUnit.isActive || vaccineDose.isActive"
        nzIcon="file-done">
        <ul>
          <li nz-menu-item routerLinkActive="active" #rla="routerLinkActive" [routerLink]="'pethernet/overview'"
            [nzMatchRouter]="true">
            <i nz-icon nzType="eye" nzTheme="outline"></i>
            <span>Overview</span>
          </li>
          <li [hidden]="notRole(role.MedicalUnit) && notRole(role.MinistryOfHealth)" nz-submenu nzTitle="Medical Units" routerLinkActive="active" #medUnit="routerLinkActive"
            [(nzOpen)]="medUnitRegister.isActive || medUnitOverview.isActive || medUnitManage.isActive || medUnitIssueCert.isActive" nzIcon="bank">
            <ul>
              <li [hidden]="notRole(role.MedicalUnit)" nz-menu-item routerLinkActive="active" #medUnitOverview="routerLinkActive"
                [routerLink]="'pethernet/medicalunit/overview'" [nzMatchRouter]="true">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
                <span>Overview</span>
              </li>
              <li [hidden]="notRole(role.MedicalUnit)" nz-menu-item routerLinkActive="active" #medUnitRegister="routerLinkActive"
                [routerLink]="'pethernet/medicalunit/register'" [nzMatchRouter]="true">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
                <span>Register</span>
              </li>
              <li [hidden]="notRole(role.MinistryOfHealth)" nz-menu-item routerLinkActive="active" #medUnitManage="routerLinkActive"
                [routerLink]="'pethernet/medicalunit/manage'" [nzMatchRouter]="true">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
                <span>Manage</span>
              </li>
              <li [hidden]="notRole(role.MedicalUnit)" nz-menu-item routerLinkActive="active" #medUnitIssueCert="routerLinkActive"
                [routerLink]="'pethernet/medicalunit/issueCertificate'" [nzMatchRouter]="true">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
                <span>Issue Cert</span>
              </li>
            </ul>
          </li>
          <li [hidden]="notRole(role.MinistryOfHealth)" nz-submenu nzTitle="Vaccine Doses" routerLinkActive="active" #vaccineDose="routerLinkActive"
            [(nzOpen)]="vaccineDoseDistribute.isActive || vaccineDoseOverview.isActive" nzIcon="experiment">
            <ul>
              <li nz-menu-item routerLinkActive="active" #vaccineDoseOverview="routerLinkActive"
                [routerLink]="'pethernet/vaccinedoses/add'" [nzMatchRouter]="true">
                <i nz-icon nzType="plus-square" nzTheme="outline"></i>
                <span>Add</span>
              </li>
              <li nz-menu-item routerLinkActive="active" #vaccineDoseDistribute="routerLinkActive"
                [routerLink]="'pethernet/vaccinedoses/distribute'" [nzMatchRouter]="true">
                <i nz-icon nzType="double-right" nzTheme="outline"></i>
                <span>Distribute</span>
              </li>
            </ul>
          </li>
          <li [hidden]="notRole(role.Injector)" nz-menu-item routerLinkActive="active" #rla4="routerLinkActive" [routerLink]="'pethernet/injectors'"
            [nzMatchRouter]="true">
            <i nz-icon nzType="user" nzTheme="outline"></i>
            <span>Injectors</span>
          </li>
        </ul>
      </li>
      <li nz-menu-item routerLinkActive="active" [routerLink]="'warehouse'" [nzMatchRouter]="true">
        <i nz-icon nzType="database" nzTheme="outline"></i>
        <span>Warehouse</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="app-header">
      <h3>Welcome, {{userName}}</h3>
      <span class="app-user-span" (click)="onLogout()"></span>
    </nz-header>
    <nz-content>
      <nz-breadcrumb [nzAutoGenerate]="true">
      </nz-breadcrumb>
      <div class="page-content">

        <!-- main content here -->
        <router-outlet></router-outlet>
        <!-- main content here -->

      </div>
    </nz-content>
    <nz-footer>Sixtyfiver ©2021</nz-footer>
  </nz-layout>
</nz-layout>
