<!-- <nz-collapse nzAccordion>
  <nz-collapse-panel *ngFor="let panel of panels; let i=index" [nzHeader]="panel.name" [nzActive]="panel.active">
    <div *ngIf="panel.key === 'Unverified' && unverifiedMedUnits.length > 0">
      <nz-collapse>
        <nz-collapse-panel *ngFor="let medUnit of unverifiedMedUnits" [nzHeader]="medUnit.medCode">
          <nz-alert nzType="info" [nzMessage]="medUnit.address"></nz-alert>

          <p>{{medUnit.contact}}</p>
          <p>{{medUnit.registeredOn}}</p>
          <p>{{medUnit.hash}}</p>
        </nz-collapse-panel>
      </nz-collapse>
    </div>


  </nz-collapse-panel>
</nz-collapse> -->

<div *ngIf="viewType === 'Unverified' && unverifiedMedUnits.length > 0">
  <nz-collapse>
    <nz-collapse-panel *ngFor="let medUnit of unverifiedMedUnits" [nzHeader]="medUnit.medCode">
      <nz-alert nzType="info" [nzMessage]="medUnit.address"></nz-alert>

      <p>{{medUnit.contact}}</p>
      <p>{{medUnit.registeredOn}}</p>
      <p>{{medUnit.hash}}</p>
    </nz-collapse-panel>
  </nz-collapse>
</div>

<div *ngIf="viewType === 'Verified' && verifiedMedUnits.length > 0">
  <nz-collapse>
    <nz-collapse-panel *ngFor="let medUnit of verifiedMedUnits" [nzHeader]="medUnit.medCode">
      <nz-alert nzType="info" [nzMessage]="medUnit.address"></nz-alert>

      <p>{{medUnit.contact}}</p>
      <p>{{medUnit.registeredOn}}</p>
      <p>{{medUnit.verifiedOn}}</p>
      <p>{{medUnit.hash}}</p>
    </nz-collapse-panel>
  </nz-collapse>
</div>
